
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-natural-bg text-primary-taupe font-display overflow-x-hidden;
        -webkit-tap-highlight-color: transparent;
    }
}

@layer components {
    .glass-effect {
        @apply backdrop-blur-xl bg-white/40;
    }
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
    }
    .animate-hourglass {
        animation: hourglass-rotate 6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    @keyframes hourglass-rotate {
        0% { transform: rotate(0deg); }
        45% { transform: rotate(180deg); }
        55% { transform: rotate(180deg); }
        100% { transform: rotate(360deg); }
    }
    @keyframes scrollText {
        0% { transform: translateX(10%); }
        100% { transform: translateX(-100%); }
    }
    .animate-scroll {
        display: inline-block;
        white-space: nowrap;
        animation: scrollText 40s linear infinite;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
