
 base;
 components;
 utilities;
    @keyframes hourglass-rotate {
        0% { transform: rotate(0deg); }
        45% { transform: rotate(180deg); }
        55% { transform: rotate(180deg); }
        100% { transform: rotate(360deg); }
    }
    @keyframes scrollText {
        0% { transform: translateX(10%); }
        100% { transform: translateX(-100%); }
    }
    .animate-scroll {
        display: inline-block;
        white-space: nowrap;
        animation: scrollText 40s linear infinite;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
